body{
    background-image: url("register-now-button-speech-bubble-banner-label-register-now-vector-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-color: aqua;
    background-attachment: fixed;
    background-size: 25%;

}